html, body {
    margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
    flex-flow: column;
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, a, span {
	font-variant: small-caps;
}

canvas {
    position: absolute;
    border: 0px solid transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.app-container {
    height: calc(100%);
    position: relative;
}

.app-container > :first-child {
    min-height: 75%;
    max-height: 75%;
}
.app-container > :last-child {
    min-height: 25%;
    max-height: 25%;
    border-top: 2px solid black;
}

#canvas {
    background-color: chocolate;
    position: relative;
}

#controls {
    background-color: gray;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
}

#colors, #presets {
    display: flex;
    justify-content: space-between;
}

#colors {
    flex-grow: 2;
}
#presets { 
    flex-grow: 1;
}

#colors > .color, #presets > button {
    color: white;
    background-color: white;
    flex-grow: 1;
    margin: 1%;
}

button > img {
    width: 2.5em;
    height: 2.5em;
}