html, body {
    margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
    flex-flow: column;
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, a, span {
	font-variant: small-caps;
}

canvas {
    border: 0px solid transparent;
    height: 100%;
    width: 100%;
}

button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.app-container {
    height: calc(100%);
    position: relative;
}

.app-container > :first-child {
    min-height: 75%;
    max-height: 75%;
}
.app-container > :last-child {
    min-height: 25%;
    max-height: 25%;
    border-top: 2px solid black;
}

#canvas {
    background-color: chocolate;
    position: relative;
}

#controls {
    position: relative;
    overflow: hidden;
}

#controls > div {
    position: absolute;
    transition: left 0.8s cubic-bezier(.55,.01,.51,1.22),top 0.8s cubic-bezier(.55,.01,.51,1.22);
}

#back {
    width: 32px;
    height: 32px;
    top: -32px;

    /* only needed while using <span> */
    display: block; 
    background-color: white;
    color: red;
    position: absolute;
    text-align: center;
    font-weight: bold;
    border: solid 1px black;
    box-sizing: border-box;
}

#main {
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

#main > button {
    border-radius: 0;
    flex-grow: 1;
    font-size: 4em;
}

#presets {
    left: 100%;
    width: 100%;
    height: 100%;
}

#draw {
    left: -100%;
    width: 100%;
    height: 100%;
}

#color {
    left: -100%;
    top: -100%;
    width: 100%;
    height: 100%;
}